/* 
@font-face {
  font-family: 'Custom1';
  src: url('./fonts/Wasted-Vindey.ttf') format('truetype');
} */
@font-face {
  font-family: 'Custom2';
  src: url('/fonts/AdmiraLaciaDemoRegular.ttf') format('truetype');
}
@font-face {
  font-family: 'Custom1';
  src: url('/fonts/Reign.otf') format('truetype');
}




#home{
    height: 780px;
    position: relative;
    background-color: #041C1F;
}


#home #cover{
    object-fit: cover;
  object-position: center -60px;
    height: 100% ;
    width: 100% ;
    position: sticky;
    top: 0;
    left: 20%;
    opacity: 0.9

}


#mainHeading{
    position: absolute;
    width: 1100px;
    top:35%;
    left: 1%;
    color: whitesmoke;
    font-size: 110px;
    letter-spacing: 14px;
    font-family: 'Custom2';
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    height: 300px;
}

#mainHeading #mainH{
  border-left: 2px solid rgb(15, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    line-height: 150px;
    padding-left: 16px;
    width: 730px;

}
#home h2{
    position: absolute;
    right: 190px;
    top: 170px;
    width: 320px;
    font-size: 1.1rem;
    color: #d7e2ff;
}
#mainHeading #logo{
    width:370px;
    position: relative;
    left: 30px;
    bottom: 8px;
}
#mainHeading #first{
    background: linear-gradient(to right, rgb(12, 240, 237), rgb(133, 214, 255), rgb(61, 100, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  width: auto;
  font-size: 150px;
}



#about{
    height: 700px;
    background-color: black;    
    display: flex;
}   
#leftAbout{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#leftAbout h1{
    font-size: 80px;
    color: whitesmoke;
    font-weight: bold;
    font-family: 'custom2';
}
#leftAbout p{
    width: 68%;
    margin-top: 10px;
    font-size: 1.5rem;
    color: rgb(135, 135, 135);
    word-spacing: 2px;
}
#rightAbout{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.lottie{
    height: 60%;
    width: 60%;
    border-radius: 40px;
    margin-left:130px;
    box-shadow: rgb(37, 66, 83) 1.95px 1.95px 2.6px;
    border: none;
}

#scroll{
    height: 800px;
    background-color: black;
}